<launch>
    <!-- TF publishers for the camera frames -->

    <node pkg="tf2_ros" type="static_transform_publisher" name="tf60"
        args="0.2496 0.2458 0.4190 0.3760 0.8690 -0.2918 -0.1354 base_link camera60" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf180"
        args="0.0047 -0.2834 0.4558 0.9655 -0.0098 -0.0065 -0.2603 base_link camera180" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf300"
        args="-0.2470 0.2513 0.3943 -0.3633 0.8686 -0.3141 0.1220 base_link camera300" />

</launch>
